<footer class="myFooter">
     <!-- <div>
        <h2 style="color:white">CONTACT US</h2>
    </div> -->
    <p class="padding"><img src="https://firebasestorage.googleapis.com/v0/b/fir-2d772.appspot.com/o/hotel%2Fhotel-logo2.png?alt=media&token=366ebaf3-646e-41dd-a717-95574090a4eb" 
        alt="logo" height="60px"></p>
    <p>
        17 Science Museum Road, Tsim Sha Tsui East, <br>Kowloon, Hong Kong
    </p>
    <p>
        Tel: (852) 3400 1000
    </p>
    <p>
        <a style="color: white" href="mailto:admin@yangshan.dx.am">Mail To: admin@hotel.dx.am</a>
    </p>
    <hr>
    <p>
        <span style="color: white; margin-right:15px;"><b>FIND US: </b></span>
        <span><a style="color: white; margin-right:15px;" href="https://www.facebook.com/hoteliconhk" class="icon ion-social-facebook"></a></span>
        <span><a style="color: white; margin-right:15px;" href="https://www.instagram.com/hoteliconhk/" class="icon ion-social-instagram"></a></span>
        <span><a style="color: white; margin-right:15px;" href="https://www.linkedin.com/company/hotel-icon/" class="icon ion-social-linkedin"></a></span>

    </p>
    <p class="clear">
        © 2018 HOTEL Bed & Breakfast All Rights Reserved
    </p>

</footer>